/* //          **** Dek **** */


/*         **** Dolly **** */


/*         **** Hannah **** */


#results-section {
    border: 3px solid black;
    background-color: lightslategray;
}
#itinerary-section {
    border: 3px solid black;
    background-color: lightblue;
}